.header {
    background-color: teal;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.link {
    color: white;
    text-decoration: none;
}

.active {
    color: crimson;
}